.success-wrapper {
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#success-box-one {
    font-size: 55px;
    font-weight: 600;
}

#success-box-two {
    font-size: 35px;
    color: rgb(121, 121, 121);
}

#success-box-three {
    font-size: 35px;
    color: blue;
    /* text-decoration: underline; */
}

#zoom-reminder {
    font-size: 30px;
    color: Red;
    text-decoration: underline;
}


@media (max-width: 390px) {
    .success-wrapper {
        padding: 15px;
    }

    #success-box-one {
        font-size: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #success-box-two {
        font-size: 20px;

    }

    #success-box-three {
        font-size: 20px;
        text-align: center;
    }

    #zoom-reminder {
        font-size: 18px;
        text-align: center;
    }
}
